
    <nav class="navbar bg-brown flex">
        <div class="container flex">
            <div class="toggler-and-category bg-brown text-white flex">
                <button type="button" class="btn navbar-show-btn text-white">
                    <i class = "fas fa-bars"></i>
                </button>
                <div class="category-list">
                    <span>مجموعات متحفية</span>
                    <button type="button" class="btn category-toggler-btn text-white">
                        <i  class = "fas fa-circle-arrow-down"></i>
                    </button>
                </div>

                <!-- side navbar -->
                <ul id="side-navbar" class="bg-white text-uppercase">
                    <button type="button" class="btn navbar-hide-btn text-dark">
                        <i class = "fas fa-times"></i>
                    </button>
                    <li><a href="/">الأساسية</a></li>
                    <li><a href="/discover">الأعمال التقنية</a></li>
                    <li><a href="/events">النشاطات</a></li>
                    <li><a href="/#timeline">ترميم</a></li>
                    <li><a href="/vrt">إفتراضي</a></li>
                    <li><a href="/contact">تواصل معنا</a></li>
                </ul>
                <!-- end of side navbar -->

                <ul id="category-list-items" class="bg-white">
                    <li><a href="/collections">المسكوكات </a></li>
                    <li><a href="/collections">الفخار</a></li>
                    <li><a href="/collections">الزليج</a></li>
                    <li><a href="/collections">العناصر المعمارية</a></li>
                    <li><a href="/collections">الأدوات الحجرية</a></li>

                </ul>
            </div>

            <!-- main navigation list -->
            <div class="navbar-collapse flex">
                <!-- nav list -->
                <ul class="navbar-nav text-uppercase">
                    <li class="nav-item">
                        <a href="/contact" class="nav-link active-link">
                            <span class="nav-link-text">تواصل معنا</span>
                            <span class="dropdown-icon">
                                <i class = "fas fa-chevron-down"></i>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/vrt" class="nav-link">
                            <span class="nav-link-text">إفتراضي</span>
                            <span class="dropdown-icon">
                                <i class = "fas fa-chevron-down"></i>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Tarmim" class="nav-link">
                            <span class="nav-link-text">ترميم</span>
                            <span class="dropdown-icon">
                                <i class = "fas fa-chevron-down"></i>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/events" class="nav-link">
                            <span class="nav-link-text">النشاطات</span>
                            <span class="dropdown-icon">
                                <i class = "fas fa-chevron-down"></i>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/discover" class="nav-link">
                            <span class="nav-link-text">الأعمال التقنية</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <span class="nav-link-text">الرئيسية</span>
                        </a>
                    </li>
                </ul>
                <!-- end of nav list -->

                <!-- account icons -->
                <div class="account-info">
                    <a href="" class="btn text-white">
                        <i class="fas fa-facebook-messenger"></i>
                    </a>
                    <a href="" class="btn text-white">
                        <i class="fas fa-mobile-alt"></i>
                    </a>
                </div>
                <!-- end of account icons -->
            </div>
            <!-- end of main navigation list -->
        </div>
    </nav>
