<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>museé-de-Chlef</title>
        <!-- normalize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer"
        />
        <!-- font awesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
        />
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
        <!-- GOOGLE-FONTS SOURCE SANS PRO -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet" />
        <!-- GOOGLE-FONTS GEMENU LIBRE -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&family=Mada:wght@400;600;700&display=swap" rel="stylesheet">
    
        <!-- custom utilities css -->
        <link rel="stylesheet" href="css/utilities.css">
        <!-- custom main css -->
        <link rel="stylesheet" href="css/main.css">
    </head>
<body>

    <%- include( 'partials/navBar' ) %>




        <!-- latest news section -->
        <section id="new-products" class="new-products py bg-light-grey-color-shade">
            <div class="container">
                <div class="section-title text-center">
                    <h2>الأعمال التقنية</h2>
                    <p class="lead"></p>
                    <div class="line"></div>
                </div>

                <div class="new-products-content grid">

                    <% if(discover != '') { %>    
                        <% discover.forEach(function(discover, index){ %> 


                    <div class="new-product-item">
                        <div class="image">
                            <img src="<%- discover.img %>" alt="">
                            <span class="badge bg-brown text-white text-center text-uppercase"></span>
                        </div>
                        <div class="info">
                            <div class="ratings text-grey">
                                <i class="fas fa-star text-brown"></i>
                                <i class="fas fa-star text-brown"></i>
                                <i class="fas fa-star text-brown"></i>
                                <i class="fas fa-star text-brown"></i>
                                <i class="fas fa-star text-brown"></i>
                                <span></span>
                            </div>
                            <p class="name"><%- discover.name %></p>

                        </div>
                    </div>

                    <% }) %>     
                    <% } %> 


                </div>
            </div>
        </section>
        <!-- end of latest news section -->








        <%- include( 'partials/footer' ) %>
</body>
<script src="js/script.js"></script>
</html>