<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>museé-de-Chlef</title>
        <!-- normalize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer"
        />
        <!-- font awesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
        />
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
        <!-- GOOGLE-FONTS SOURCE SANS PRO -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet" />
        <!-- GOOGLE-FONTS GEMENU LIBRE -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&family=Mada:wght@400;600;700&display=swap" rel="stylesheet">
    
        <!-- custom utilities css -->
        <link rel="stylesheet" href="css/utilities.css">
        <!-- custom main css -->
        <link rel="stylesheet" href="css/main.css">
    </head>
<body>




    <%- include( 'partials/navBar' ) %>

        <!-- latest news section -->
        <section id=timeline>
            <div class="title">
                <h1>مراحل ترميم الأثار</h1>
            </div>
            <p class="leader">تعرف على طرق و مراحل ترميم الأثار</p>
            <div class="demo-card-wrapper">
                <div class="demo-card demo-card--step1">
                    <div class="head">
                        <div class="number-box">
                            <span>01</span>
                        </div>
                        <h2><span class="small"></span> المعاينة</h2>
                    </div>
                    <div class="body">
                        <p> تعد هذه المرحلة من أهم مراحل ترميم القطع الأثرية، فهي تسمح بمعرفة مقدار الضرر و طرق الترميم
                        </p>
                        <img src="https://firebasestorage.googleapis.com/v0/b/musee-chlef02.appspot.com/o/image%2Ftime1.png?alt=media&token=d553de6f-801c-4851-83e7-bea7606ef8b5" alt="تابوت">
                    </div>
                </div>

                <div class="demo-card demo-card--step2">
                    <div class="head">
                        <div class="number-box">
                            <span>02</span>
                        </div>
                        <h2><span class="small"></span> الترميم</h2>
                    </div>
                    <div class="body">
                        <p>هو عملية فنية دقيقة يتم من خلالها إعــادة المــواد الأثرية إلى حالتها أو إعطائها الشكل الأقرب إلى أصلها بغير إضافات متلفة أو مزورة</p>
                        <img src="https://firebasestorage.googleapis.com/v0/b/musee-chlef02.appspot.com/o/image%2Ftime2.png?alt=media&token=52346c93-b828-465b-8994-0b5eb56829da" alt="تابوت">
                    </div>
                </div>

                <div class="demo-card demo-card--step3">
                    <div class="head">
                        <div class="number-box">
                            <span>03</span>
                        </div>
                        <h2><span class="small"></span> الترميم</h2>
                    </div>
                    <div class="body">
                        <p>يمكن القول أيضا أن عمليــة الترميم هــي عملية عـلاج للأثــر المصاب مــن التشققـات، والكسـور، التفتتات والثقوب، والإصابات الأخرى التي يمكـن أن يسببها مجمل العوامل المحيطة بهذا الأثر</p>
                        <img src="https://firebasestorage.googleapis.com/v0/b/musee-chlef02.appspot.com/o/image%2Ftime3.png?alt=media&token=47c70ad2-dbda-4507-bae3-2960223ce86c" alt="تابوت">
                    </div>
                </div>

                <div class="demo-card demo-card--step4">
                    <div class="head">
                        <div class="number-box">
                            <span>04</span>
                        </div>
                        <h2><span class="small"></span> الترميم</h2>
                    </div>
                    <div class="body">
                        <p>
                            فالترميم لا يعني التجديدأو التجميل و لكن يهدف إلى إعادة الأثرإلى حالته الأصلية و الذي يقوم على احترام المواد الأصلية للأثر
                        </p>
                        <img src="https://firebasestorage.googleapis.com/v0/b/musee-chlef02.appspot.com/o/image%2Ftime4.png?alt=media&token=6ce0a607-02e9-4919-ad93-41b6b0f6886a" alt="ترميم">
                    </div>
                </div>

                <div class="demo-card demo-card--step5">
                    <div class="head">
                        <div class="number-box">
                            <span>05</span>
                        </div>
                        <h2><span class="small"></span> العرض</h2>
                    </div>
                    <div class="body">
                        <p>
                            بعد الإنتهاء من عمليات المعاينة و الترميم يتم رفع الستار عن القطعة التي تم انقاذها و عرضها للجمهور
                        </p>
                        <img src="https://firebasestorage.googleapis.com/v0/b/musee-chlef02.appspot.com/o/image%2Ftime5%20(1).png?alt=media&token=abbf9338-2c66-4216-a098-e445a2fc54cf" alt="تابوت">
                    </div>
                </div>

            </div>
        </section>
        <!-- end of latest news section -->

        <%- include( 'partials/footer' ) %>

</body>
<script src="js/script.js"></script>
</html>