<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>جولة إفتراضية</title>
    <!-- FONTAWESOME CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <!-- GOOGLE-FONTS SOURCE SANS PRO -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet" />
    <!-- GOOGLE-FONTS GEMENU LIBRE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&family=Mada:wght@400;600;700&display=swap" rel="stylesheet">

    <!--- CSS LINK TO HMTL-->
    <link rel="stylesheet" href="css/prdct.css" />


</head>

<body>

    <input type="checkbox" id="lightswitch" accesskey="l" />
    <input type="checkbox" checked="checked" id="wall4" accesskey="x" />

    <label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label>
    <label class="p1hover pointer" title="Tap to zoom - double tap to view code">
      <a href="" target="_blank"></a>
      <label class="pointer"></label>
    </label>
    <label class="p1hover pointer" title="Tap to zoom - double tap to view code">
      <a href="" target="_blank"></a>
      <label class="pointer"></label>
    </label>
    <label class="p1hover pointer" title="Tap to zoom - double tap to view code">
      <a href="" target="_blank"></a>
      <label class="pointer"></label>
    </label>
    <label></label>
    <label class="p2hover pointer" title="Tap to zoom - double tap to view code">
      <a href="" target="_blank"></a>
      <label class="pointer"></label>
    </label>
    <label class="p2hover pointer" title="Tap to zoom - double tap to view code">
      <a href="" target="_blank"></a>
      <label class="pointer"></label>
    </label>
    <label class="p2hover pointer" title="Tap to zoom - double tap to view code">
      <a href="" target="_blank"></a>
      <label class="pointer"></label>
    </label>
    <label></label>
    <label class="p3hover pointer" title="Tap to zoom - double tap to view code">
      <a href="" target="_blank"></a>
      <label class="pointer"></label>
    </label>
    <label class="p3hover pointer" title="Tap to zoom - double tap to view code">
      <a href="" target="_blank"></a>
      <label class="pointer"></label>
    </label>
    <label class="p3hover pointer" title="Tap to zoom - double tap to view code">
      <a href="" target="_blank"></a>
      <label class="pointer"></label>
    </label>
    <label class="pointer turn" for="wall4" title="Rotate right"></label>
    <label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label><label></label>

    <z>
        <x>
            <y>
                <floor></floor>
                <ceiling></ceiling>
                <wall1>
                    <painting>
                        <img src="image/vrt1.png" />
                        <p>
                            زليج<br />
                            <br />
                            <small>العهده العثمانية</small>
                        </p>
                    </painting>
                </wall1>
                <wall2>
                    <painting>
                        <img src="image/vrt2.png" />
                        <p>
                            زليج <br /> <br />
                            <small>العهده العثمانية</small>
                        </p>
                    </painting>
                </wall2>
                <wall3>
                    <painting>
                        <img src="image/vrt3.png" />
                        <p>
                            زليج<br /> <br />
                            <small>العهده العثمانية</small>
                        </p>
                    </painting>
                </wall3>
                <wall4>

                    <notice>

                        <a title="Buy the landscape - CSS Art for your wall!" target="_blank" href="index.html" style="font-size: 80px; font-family: 'mada';">الرئيسية</a>

                    </notice>
                    <door>
                        <a target="_blank" title="Exit" href="">
                        </a>
                    </door>

                    <label for="lightswitch" class="pointer" title="Switch"></label>
                    <fireexit>
                        <i></i>
                        <i></i>
                    </fireexit>
                </wall4>
            </y>
        </x>
    </z>

    <label class="turnback" title="Rotate left" for="wall4"></label>
    <script src="prdct.js"></script>
</body>

</html>